.hidden {
    display: none;
}

.pageHeader {
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid black;
    background-color: burlywood;
}

.headerFlexSpace {
    display: flex;
    justify-content: space-between;
}

.pageTitle {
    text-align: center;
    font-size: 32px;
    line-height: 64px;
    margin: 8px;
}

.buttonsContainer {
    width: 200px;
    margin: 8px;
}

.listToggleViewButton {
    width: 200px;
    height: 50%;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: gold;
}

.listToggleViewButton:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
}

.pageContent {
    padding-top: 84px
}

.sidebarMargin {
    margin-right: 300px;
}

.sideBarWrapper {
    position: fixed;
    right: 0;
    height: 100%;
    width: 300px;
    border-left: 2px solid black;
}

.mobileCartBackBUtton {
    all: unset;
    font-size: 24px;
    position: absolute;
    height: 100%;
    left: 8px;
}

.mobileCartBackBUtton:hover {
    cursor: pointer;
}

